[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
User=rmaia
WorkingDirectory=/home/rmaia/app
ExecStart=/home/rmaia/app/server.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
